/* Variables */
:root {
  --color-blue: #3B5998;
  --color-blue-gradient: #3498DB;
  --header-image-size: 25px;
  --avatar-size: 32px;
  --avatar-box-shadow: 1px 1px 10px 0px lightgrey;
  --chat-font-size: 20px;
  --chat-message-bg-color: whitesmoke;
  --chat-notice-bg-color: whitesmoke;
  --chat-warning-bg-color: red;
  --chat-input-padding: 0px 8px;
  --chat-button-padding: 8px 24px 12px;
  --chat-message-min-height: 40px;
}

/* body reset */
html, body {
  height: 100%;
}

/* Header */
.header img {
  float: right;
  height: var(--header-image-size);
  width: var(--header-image-size);
  border-radius: var(--header-image-size);
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  height: calc(100% - ((var(--spacing) * 6) + (var(--line-height) * 1)));
  padding: var(--spacing);
}

.main .chat-content {
  height: 100%;
  list-style: none;
  padding: var(--spacing-half);
  margin: 0;
  margin-bottom: var(--spacing);
  overflow: scroll;
}
.main .chat-content li {
  display: flex;
  padding: var(--spacing-half-top-bottom);
}
.main .chat-content li .avatar {
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: var(--avatar-size);
  box-shadow: var(--avatar-box-shadow);
}
.main .chat-content li .message {
  font-size: var(--chat-font-size);
  display: block;
  flex-grow: 1;
  margin-left: var(--spacing);
  padding: var(--spacing-half-right-left);
  line-height: var(--avatar-size);
  background-color: var(--chat-message-bg-color);
  border-radius: var(--spacing);
}
.main .chat-content li .notice {
  text-align: center;
  margin: auto;
  background-color: var(--chat-notice-bg-color);
  border-radius: var(--spacing);
  padding: var(--spacing-right-left);
  line-height: var(--avatar-size);
}
.main .chat-content li .warning {
  text-align: center;
  display: block;
  flex-grow: 1;
  background-color: var(--chat-warning-bg-color);
  color: white;
  padding: var(--spacing-half-right-left);
  line-height: var(--avatar-size);
  border-radius: var(--spacing);
}

.main .chat-message {
  margin-top: auto;
  display: flex;
  min-height: var(--chat-message-min-height);
}
.main .chat-message input {
  flex-grow: 3;
  font-size: var(--chat-font-size);
  padding: var(--chat-input-padding);
}
.main .chat-message button {
  flex-grow: 1;
  color: #ffffff;
  background: var(--color-blue);
  padding: var(--chat-button-padding);
  font-size: var(--chat-font-size);
  text-decoration: none;
  border: none;
}
.main .chat-message button:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom, var(--color-blue-gradient), var(--color-blue));
}
