/* Variables */
:root {
  --main-margin-top: 40vh;
  --fb-bg-color: #3B5998;
  --fb-txt-color: white;
  --fb-border-radius: 5px;
  --fb-spacing: 16px;
  --fb-width: 50%;
}

/* Main */
.main {
  margin-top: var(--main-margin-top);
}
.main .login-fb {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: var(--fb-bg-color);
  color: var(--fb-txt-color);
  padding: var(--fb-spacing);
  border-radius: var(--fb-border-radius);
  width: var(--fb-width);
  margin: auto;
}
