/* Variables */
:root {
  --color-green: #087135;
  --spacing: 16px;
  --spacing-half: 8px;
  --spacing-top-bottom: 16px 0px;
  --spacing-right-left: 0px 16px;
  --spacing-half-top-bottom: 8px 0px;
  --spacing-half-right-left: 0px 8px;
  --line-height: 18px;
}

/* body reset */
body {
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  background-color: var(--color-green);
  padding: var(--spacing);
}
.header a {
  text-decoration: none;
  color: white;
}

/* Main */
/* Implemented for each page in a different file */

/* Footer */
.footer {
  background-color: var(--color-green);
  color: white;
  padding: var(--spacing);
  width: calc(100% - (var(--spacing) * 2));
  position: absolute;
  bottom: 0;
}
.footer p {
  margin: 0;
}
