/* Variables */
:root {
  --header-bg-color: #3949AB;
  --header-txt-color: white;
  --footer-bg-color: #3949AB;
  --footer-txt-color: white;
  --spacing: 16px;
  --spacing-half: 8px;
  --spacing-quarter: 4px;
  --spacing-top-bottom: 16px 0px;
  --spacing-right-left: 0px 16px;
  --spacing-half-top-bottom: 8px 0px;
  --spacing-half-right-left: 0px 8px;
  --line-height: 18px;
  --header-box-shadow: 0px 1px 5px 1px grey;
}

/* body reset */
body {
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  background-color: var(--header-bg-color);
  padding: var(--spacing);
  box-shadow: var(--header-box-shadow);
}
.header a {
  text-decoration: none;
  color: var(--header-txt-color);
}

/* Main */
/* Implemented for each page in a different file */

/* Footer */
.footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-txt-color);
  padding: var(--spacing);
  width: calc(100% - (var(--spacing) * 2));
  position: absolute;
  bottom: 0;
}
.footer p {
  margin: 0;
}
