<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Simple Chat</title>

    <link href="public/styles/main.css" rel="stylesheet">
    <link href="public/styles/chat.css" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <a href="/">Simple Chat</a>
      <img src="{{.AvatarURL}}">
    </header>

    <main class="main" id="app">
      <ul class="chat-content">
        <li v-for="msg in chat">
          <img class="avatar" :src="msg.avatar" :alt="msg.user" :title="msg.user">
          <span class="message">${msg.content}</span>
        </li>
      </ul>

      <div class="chat-message">
        <input type="text" placeholder="Message ..." v-model="message" @keyup.enter="send">
        <button @click="send">Send</button>
      </div>
    </main>

    <footer class="footer">
      <p>Efrei International</p>
    </footer>

    <script src="public/scripts/vendor/vue.min.js"></script>
    <script src="public/scripts/chat.js"></script>
  </body>
</html>
