<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Go Chat">
    <meta name="apple-mobile-web-app-title" content="Go Chat">
    <meta name="msapplication-starturl" content="/">
    <meta name="theme-color" content="darkblue">

    <title>{{T "title"}}</title>

    <link href="public/favicon.ico" rel="icon">

    <link href="public/manifest.json" rel="manifest">

    <link href="public/styles/main.css" rel="stylesheet">
    <link href="public/styles/chat.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <header class="header">
        <a href="/">{{T "header_title"}}</a>
        <img src="{{.AvatarURL}}" alt="{{.Name}}" @click="toggleUsers">
      </header>

      <main class="main" :class="{ 'show-users': showUsers }">
        <!-- Chat -->
        <div class="chat" id="chat">
          <!-- Chat Content -->
          <ul class="chat-content" ref="chat" v-scroll>
            <!-- Pull Refresh -->
            <vue-pull-refresh :on-refresh="onPullRefresh" :config="{ errorLabel: '{{ T "pull_refresh_label_error"}}', startLabel:'{{ T "pull_refresh_label_start"}}', readyLabel: '{{ T "pull_refresh_label_ready"}}', loadingLabel: '{{ T "pull_refresh_label_loading"}}' }">
              <span class="pull-down-text">{{ T "pull_refresh_text"}}</span>
            </vue-pull-refresh>

            <!-- Chat List -->
            <li v-for="msg in chat" :class="{ mine: (msg.userId === user.id) }">
              <!-- Message -->
              <template v-if="msg.type === 'message'">
                <img class="avatar" :src="msg.avatar" :alt="msg.userName" :title="msg.userName">
                <span class="message">
                  <span class="name">${msg.userName}</span>
                  <span class="date">${formatDate(msg.date)}</span>
                  <span class="content">${msg.content}</span>
                </span>
              </template>
              <!-- Notice -->
              <template v-else-if="['notice', 'login', 'logout'].includes(msg.type)">
                <span class="notice">${msg.content}</span>
              </template>
              <!-- Warning -->
              <template v-else-if="msg.type === 'warning'">
                <span class="warning">${msg.content}</span>
              </template>
            </li>
          </ul>

          <!-- Chat Form -->
          <div class="chat-message">
            <input
              type="text"
              aria-label="Write message"
              maxlength="270"
              placeholder="{{T "chat_message_placeholder"}}"
              ref="chat-input"
              v-model="message"
              @focus="scrollToLast(true)"
              @keyup.enter="send"
            />
            <button @click="send">{{T "chat_message_send"}}</button>
          </div>
        </div>

        <!-- Users -->
        <div class="users" id="users">
          <template v-if="users.length">
            <ul class="list">
              <li v-for="user in users">
                <img class="avatar" :src="user.avatar" :alt="user.name" :title="user.name">
                <span class="name">${user.name}</span>
              </li>
            </ul>
          </template>
          <template v-else>
            <span class="no-users">{{T "no_connected_users"}}</span>
          </template>
        </div>
      </main>

      <footer class="footer"></footer>
    </div>
    <script>
      i18n = {
        "chat_warning_connection_closed": {{T "chat_warning_connection_closed"}},
        "chat_warning_connection_error": {{T "chat_warning_connection_error"}},
        "date_at": {{T "date_at"}},
        "date_today": {{T "date_today"}},
        "date_yesterday": {{T "date_yesterday"}},
      }
    </script>
    <script>
      user = {
        id: {{.UserID}}
      }
    </script>
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/service-worker.js", {
          scope: "/"
        }).then((reg) => console.log(`Registration succeeded.`))
      }
    </script>
    <script src="public/scripts/vendor/vue.min.js"></script>
    <script src="public/scripts/vendor/vue-pull-refresh.min.js"></script>
    <script src="public/scripts/chat.js"></script>
  </body>
</html>
