<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{T "title"}}</title>

    <link href="public/favicon.ico" rel="icon">

    <link href="public/manifest.json" rel="manifest">

    <link href="public/styles/main.css" rel="stylesheet">
    <link href="public/styles/chat.css" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <a href="/">{{T "header_title"}}</a>
      <img src="{{.AvatarURL}}">
    </header>

    <main class="main" id="app">
      <ul class="chat-content" ref="chat">
        <li v-for="msg in chat">
          <!-- Message -->
          <template v-if="msg.type === 'message'">
            <img class="avatar" :src="msg.avatar" :alt="msg.user" :title="msg.user">
            <span class="message">${msg.content}</span>
          </template>
          <!-- Notice -->
          <template v-else-if="msg.type === 'notice'">
            <span class="notice">${msg.content}</span>
          </template>
          <!-- Warning -->
          <template v-else-if="msg.type === 'warning'">
            <span class="warning">${msg.content}</span>
          </template>
        </li>
      </ul>

      <div class="chat-message">
        <input type="text" placeholder="{{T "chat_message_placeholder"}}" v-model="message" @keyup.enter="send">
        <button @click="send">{{T "chat_message_send"}}</button>
      </div>
    </main>

    <footer class="footer"></footer>

    <script>
      i18n = {
        "chat_warning_connection_closed": {{T "chat_warning_connection_closed"}},
        "chat_warning_connection_error": {{T "chat_warning_connection_error"}},
      }
    </script>
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/public/service-worker.js", {
          scope: "/public/"
        }).then((reg) => console.log(`Registration succeeded.`))
      }
    </script>
    <script src="public/scripts/vendor/vue.min.js"></script>
    <script src="public/scripts/chat.js"></script>
  </body>
</html>
