<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{T "title"}}</title>

    <link href="public/favicon.ico" rel="icon">

    <link href="public/styles/main.css" rel="stylesheet">
    <link href="public/styles/login.css" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <a href="/">{{T "header_title"}}</a>
    </header>

    <main class="main" id="app">
      <a class="login-fb" href="/auth?provider=facebook">{{T "login_facebook"}}</a>
    </main>

    <footer class="footer"></footer>

    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/public/service-worker.js", {
          scope: "/public/"
        }).then((reg) => console.log(`Registration succeeded.`))
      }
    </script>
  </body>
</html>
