<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Simple Chat</title>

    <link href="public/styles/main.css" rel="stylesheet">
    <link href="public/styles/login.css" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <a href="/">Simple Chat</a>
    </header>

    <main class="main" id="app">
      <a class="login-fb" href="/auth?provider=facebook">Login with Facebook</a>
    </main>

    <footer class="footer">
      <p>Efrei International</p>
    </footer>
  </body>
</html>
